.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: var(--blue-gradient);
    color: var(--font-color-white);
    border-radius: 30px;
    border: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    transition: ease-in-out 0.2s;
    cursor: pointer;

    &:hover {
        filter: brightness(120%);
    }
}

.btn-bordered {
    position: relative;
    background: transparent;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 30px;
        padding: 2px;
        background: var(--blue-gradient);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}