:root {
  --background-color: #030625;
  --blue-gradient: linear-gradient(97.86deg, #89C6FF -38.38%, #3633D0 71.88%);
  --orange-gradient: linear-gradient(97.86deg, #FF8D8D -38.38%, #F7FC0E 71.88%);
  --font-color-white: #fff;

}

$mobile_width: 1100px;